@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.featured {
  align-self: center;
  .slider {
    list-style: none;
    padding: 0;
  }
  .slider li {
    height: 400px;
    width: 360px;
    border-radius: 16px;
    background-color: white;
    padding: 3px;
    .large {
      display: none;
    }
  }
}

/* STACKED CARDS */
.stacked-cards {
  position: relative;
}
.stacked-cards ul {
  position: relative;
  margin: 0 auto;
  padding-left: 0;
}

.stacked-cards li {
  margin-top: 5px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0px #d3d3d3;
  list-style: none;
  width: 30%;
  position: absolute;
  left: 50%;
  transition: 0.5s ease transform;
}

.stacked-cards li:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.stacked-cards li img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 4;
}
.stacked-cards li.active {
  cursor: default;
  box-shadow: 0 5px 10px 0px #d3d3d3;
  transition: 0.5s ease transform;
}

.splide .splide__arrow {
  display: none;
}

.splide .splide__pagination {
  display: none;
}

.splide__slide {
  margin: 20px;
  gap: 20px;
}

@media (min-width: 1024px) {
  .featured {
    width: 100vw;

    .slider li {
      .small {
        display: none;
      }
      .large {
        display: block;
      }
    }
  }
  .featured {
    width: 100vw;
    .slider {
      width: 50vw;
    }
    .slider li {
      height: 475px;
      width: 691px;
    }
  }
}
